
    <nav class="navbar navbar-light bg-light" style="height: 5rem;">
        <form class="form-inline">
            <a style="margin-left: 10px;" routerLink="/pin">Get vaccination sessions by PIN</a><br>
            <a style="margin-left: 200px;" routerLink="/district">Get vaccination sessions by District</a><br>
            <a  style="margin-left: 250px;"routerLink="/latlong">Get vaccination sessions by Latitude and Longitude</a><br>
        </form>
    </nav>



<router-outlet></router-outlet>
